[2017-10-26 04:55] Sarvesh-Gupta opened #1 "Injecting to referenced assemblies"
Does this approach will inject dependencies to referenced assemblies. For example if Greeter also was expecting a dependency, will it work?

[2018-01-12 22:01] justinkneff commented on #1
So long as you register the additional Interface and Implementation in the RegisterServices method of the InjectConfiguration.cs
[code]
Where you have an Interface
`public Interface IAdditionalInterface { ... }`
and the implementation is
`public class AdditionalImplementation : IAdditionalInterface { ... }`

[2018-01-23 19:25] sescandell opened #2 "What the aim of Task.Yield() here?"
Hi!

First of all: many thanks for your awesome blogpost and this sample.
It made my usage of Azure function so much easier (with additional boilerplate but so much easier to use afterwards).

Just wondering: what the aim of the `await Task.Yield()` call in [InjectBinding](https://github.com/BorisWilhelms/azure-function-dependency-injection/blob/master/DependencyInjection/InjectBinding.cs#L28) cla

[2018-01-31 20:44] MV10 commented on #2
I was wondering the same thing. This StackOverflow answer has one of the better reviews of various `Task.Yield` scenarios I've seen, and it leads me to believe it's probably unnecessary here:

https://stackoverflow.com/a/23441833/152997

The WebJobs SDK behind Functions runs inside a scripthost instance, so none of those descriptions are directly applicable, but scenarios that truly _require_ yiel

[2018-02-21 11:01] slacksi opened #3 "Access to IConfigurationRoot when registering services"
Hi Boris,

Thanks for the code and useful blog post.

When I register some services, I need to be able to use a connection string from a configuration object.  I found [a good article by Jon Gallant](https://blog.jongallant.com/2018/01/azure-function-config/) that describes the new way to build an IConfigurationRoot object. However, that approach relies on a ExecutionContext object, which I don't

[2018-02-22 00:44] giemch opened #4 "Inject ILogger<T> or ILogger?"
Is it possible to wire up `ILogger` or `ILogger<T>` injection? I tried the following, and while `Thing` got successfully injected with an `ILogger<Thing>`, using it doesn't actually produce any logs.

`services.AddLogging();`
`services.AddSingleton<IThing, Thing>(sp => new Thing(sp.GetService<ILogger<Thing>>()));`

[2018-03-09 14:37] gdodd1977 commented on #4
Something to bare in mind. If you can't get what you need form MS.Dependency.Injecton, it's easy to plug in any other DI framework. I'm using LightInject in my version since it's a much deeper DI container.

[2018-03-19 16:11] giemch commented on #4
I'd prefer to use the builtin DI if possible.

[2018-03-28 15:11] niksofteng opened #5 "How to use Unity Service Locator?"
We are having issue registering unity service locator in `InjectConfiguration`. Here's the code for `Initialize` method:

[code]

When in azure function we try to resolve as:

`ServiceLocator.Current.GetInstance<ISomeService>();`

It gives error "Service locator must be set". @BorisWilhelms

[2018-03-28 15:33] #5 closed

[2018-04-06 22:26] #4 closed

[2018-05-13 14:31] galvesribeiro opened #6 "Failure to start when using external assembly"
First of all thanks for this sample repo and the awesome article. I think your approach is the best I've found so far to cover the lack of DI on Az Functions.

I was trying to make your code reusable across multiple functions without having those files on every function project.

Got your sample code and moved it to its own assembly:

![image](https://user-images.githubusercontent.com/4714040/3996

[2018-05-14 17:11] BorisWilhelms commented on #6
This is currently not possible, because of the way Azure Functions detects and instanciates the EXtensionConfigProvider. I am currently researching for a workaround and will let you know once I have a solution.

[2018-05-14 17:16] galvesribeiro commented on #6
Nice.

The workaround I mentioned didn't work in the end. I mean, the DI part works. But then I have assembly loading issues with other assemblies...

Looking forward to hear from you.

Thanks

[2018-05-14 20:34] BorisWilhelms commented on #6
I have pushed an update to the repository where I refactored the DI code to it`s own project. The work around is that you now need to implement the `IServiceProviderBuilder` interface in your Function App. The `InjectBindingProvider` will discover the implementation and call the `BuildServiceProvider` method.

Hope this helps.

[2018-05-14 21:32] galvesribeiro commented on #6
THanks @BorisWilhelms! That made the things work flawless!

One last question... Do you have any workaround for assembly loading issues?

[2018-05-15 01:35] galvesribeiro commented on #6
For example, my DA dependency is injected and resolved properly but whenever I try to call methods on it, I get this:

[code]

For whatever reason it can't load any of the nuget packages we have :(

[2018-05-16 15:58] VaclavElias opened #7 "Question: Is your v2 working also with .Net Core 2.1?"
If not, what do we have to wait on Azure side? Azure Functions 2.1? Thanks.

[2018-05-22 19:24] gdodd1977 opened #8 "Nuget package?"
Hi. I was wondering if you were going to publish a nuget package for this?

[2018-05-27 06:00] daulet commented on #4
FWIW I have a [similar binding](https://github.com/daulet/Indigo.Functions#dependency-injection) that registers ```ILogger``` instance for you so you can use it anywhere in your dependency tree.

[2018-05-27 06:11] daulet commented on #8
I don't know why author hasn't published a package, but I have similar DI binding via Autofac and Unity:

https://www.nuget.org/packages/Indigo.Functions.Autofac
https://www.nuget.org/packages/Indigo.Functions.Unity

[2018-05-27 06:27] daulet commented on #3
I've had [a similar need](https://github.com/daulet/Indigo.Functions/issues/1) and ended up creating [Inject] binding that would automatically inject IConfiguration instance that you can use to read all application settings, including connection strings. Working example:

https://github.com/daulet/Indigo.Functions/blob/master/sample/AutofacFunctionSample/ICacheConfigProvider.cs

[2018-06-24 13:20] marxxxx commented on #6
@galvesribeiro i had a similar issue with dependencys to Microsoft.Extensions.Logging.
I was able to work around it installing the dependency in the DependencyInjection-Project.

[2018-08-31 09:33] benm-eras opened #9 "Doesn't work with version 1.0.19 of Microsoft.NET.Sdk.Functions"
I just want to start by saying thanks for an excellent solution that really helped me out!

The other day version 1.0.19 of the SDK was released, and I immediately ran in to [problems ](https://github.com/Azure/azure-functions-vs-build-sdk/issues/230).

The solution to these problems is to install an update to the VS2017 tools (**forced** on me today), and to install Microsoft.Azure.WebJobs.Extens

[2018-08-31 13:11] jnevins-gcm commented on #9
https://github.com/Azure/azure-webjobs-sdk/issues/1786

[2018-08-31 13:28] VaclavElias commented on #7
It does.

[2018-08-31 13:28] #7 closed

[2018-08-31 15:14] scarbon commented on #9
Azure/ExtensionConfigContext#1865

[2018-09-02 20:44] ielcoro commented on #9
See the changes need in my answer here https://github.com/Azure/azure-webjobs-sdk/issues/1865#issuecomment-417958408

[2018-09-22 00:15] lira92 opened #10 "Is there any way to access HttpRequest data by Injection Dependency?"
I have some data like headers on the request that I want to access in other layers without need to pass as parameter, I would like to access a instance injected which provide this information for me, like a IHttpContextAccessor in AspNetCore. Is it possible?

[2018-10-01 15:22] #8 closed, assigned to nobody

[2018-10-01 15:32] espray commented on #9
@BorisWilhelms Awesome!!!  Thanks for making a NuGet as well!!!

[2018-10-02 06:55] BorisWilhelms commented on #10
I have researched and digged down the azure functions sdk and unfortunately haven't found any way to access this data beside of the HttpRequest.

[2018-10-02 06:55] #10 closed

[2018-10-02 11:01] scarbon opened #11 "Not working when Deploying to Azure"
It works locally running on Runtime version: 2.0.12115.0 (same as Azure) and Microsoft.NET.Sdk.Functions Version="1.0.22" but not In Azure

Error indexing method 'XXXXXX.Run' Cannot bind parameter 'worker' to type IXXXXXX.. Make sure the parameter Type is supported by the binding. If you're using binding extensions (e.g. ServiceBus, Timers, etc.) make sure you've called the registration method for

[2018-10-02 12:11] BorisWilhelms commented on #11
There is an issue with the `ExtensionsMetadataGenerator`, which generates the needed `extensions.json`.
Someone posted a workaround for this issue in the corrospondig issue: https://github.com/Azure/azure-functions-host/issues/3386#issuecomment-419565714

Just download the `Directory.build.targets` file and place it into your project directory, this should copy the correct `extensions.json` file o

[2018-10-02 13:19] scarbon commented on #11
Thank you Boris, thanks for taking your time to help me on this, it worked perfectly :)

[2018-10-02 13:19] #11 closed

[2018-10-02 13:37] jnevins-gcm commented on #10
Can’t you get at it in the trigger binding data?

[2018-10-02 13:50] lira92 commented on #10
@jnevins-gcm Can you give me a example? I think that i didn't see this yet.

[2018-10-02 14:45] jnevins-gcm commented on #10
In the BindingContext which you can get at through the Binding

https://github.com/Azure/azure-webjobs-sdk/blob/b798412ad74ba97cf2d85487ae8479f277bdd85c/src/Microsoft.Azure.WebJobs.Host/Bindings/BindingContext.cs

[2018-10-02 15:49] BorisWilhelms commented on #10
I am not sure if this really helps? As far as I understand we are talking about a http triggered function where @lira92 wants to access http request data inside a service which gets injected into the function?

[2018-10-02 16:17] jnevins-gcm commented on #10
Right - but the point is you can get a hook at binding time - where you create the IServiceScope. That means you can add the current function execution’s HttpRequestMessage for use in that IServiceScope - either via an AsyncLocal and a registration that uses it or a separate scoped wrapper service you create (e.g HttpRequestScope) which has it’s value set after the new IServiceScope is created, bu

[2018-10-02 18:30] lira92 commented on #10
@jnevins-gcm you could provide a PR for this approach in this repo. What you think about?

[2018-10-03 03:11] jnevins-gcm commented on #10
sure but might be a few days...is the explanation unclear?

[2018-10-03 12:14] lira92 commented on #10
@jnevins-gcm I really didn't implement anything, but in some things I have doubts. What is "AsyncLocal" that you mention above? When you say binding code, you refer to code that in this repo is present on DependencyInjection/Bindings/InjectBinding.cs file?

[2018-10-03 13:15] jnevins-gcm commented on #10
Yes that’s the binding code.

Async local is a .net class for storing thread static data that flows through with async calls

https://docs.microsoft.com/en-us/dotnet/api/system.threading.asynclocal-1?view=netframework-4.7.2

[2018-10-03 16:06] BorisWilhelms commented on #10
While this seems to work, I will most probably not include this into the lib/nuget-package as this seems to be a very sepcific use-case. But you can still fork this project and include it for your needs.

[2018-10-03 20:42] lira92 commented on #10
@BorisWilhelms thanks for this great job, I had not seen that you have created a nuget package for this repo, because of this I suggested a possible PR to this repo. I would like to see some solution for this problem in your blog, for example. Would it possible?

[2018-10-04 15:42] roend83 opened #12 "Error Deploying to Azure"
This is working fine when debugging on my machine, but I'm getting the following error when deploying a function using this package to Azure:

Error indexing method 'PurgePdfsFunction.Run' Cannot bind parameter 'processor' to type PurgePdfsProcessor. Make sure the parameter Type is supported by the binding. If you're using binding extensions (e.g. ServiceBus, Timers, etc.) make sure you've called

[2018-10-04 15:43] BorisWilhelms commented on #12
See related issue https://github.com/BorisWilhelms/azure-function-dependency-injection/issues/11

[2018-10-04 15:43] #12 closed

[2018-10-04 17:50] nmagesh84 commented on #11
Hi Boris, Scarbon,

 I did tried the approach of adding directory.build.targets file in the project directory and when I build or publish the application, the extensions.json was created in bin folder with the startup class name and its type.

However when i deployed the code in app, I get the same binding error mentioned in he post. Is there any other settings i need to do in the azure portal ?

[2018-10-04 18:07] BorisWilhelms commented on #11
@nmagesh84 could you please check that the runtime is set to version 2 in your function application:

![grafik](https://user-images.githubusercontent.com/1989935/46493612-1e1cc000-c811-11e8-8f2a-22d92960b96d.png)

You can find the setting in the `Function App Settings`

[2018-10-04 18:10] nmagesh84 commented on #11
Thanks Boris for your prompt reply, i have ~2 runtime version only. I will double check my code again and will update you.

[2018-10-05 00:57] isaac2004 opened #13 "DI for Services in External Assemblies"
I have an example of DI that I cannot get to work with the new version of WebHost. Here is my scenario.

I have a service in a .NET Standard library and am injecting it just fine into my function. I want to be able to inject an instance of ILogger or ILoggeeFactory into this service as well. However the dependency fails at the Service level. Here is a repo that fails.

https://github.com/isaac2004

[2018-10-05 09:29] BorisWilhelms commented on #13
This behavior is correct. In https://github.com/isaac2004/AzureFunction-DI/blob/2cd1bbd952593df1333e8ba38c50a5cc488bb7b8/Functions/DependencySetup/Injection/InjectWebJobsExtension.cs#L23 you are creating a new ServieProvider and you can ony resolve services that are registered on that particular provider. Since you have not registered any Logger on that provider, it can not resolve it.

If you use

[2018-10-05 09:30] #13 closed

[2018-10-05 14:52] isaacrlevin commented on #13
The issue I see here though is that dependencies take a generic ILogger vs ILogger<T>. To be able to share that service between an ASP.NET Core app, I need to have ILogger<T>.

[2018-10-05 15:03] BorisWilhelms commented on #13
My example registeres and creates an `ILogger` and not the generic `ILogger<T>`.

[2018-10-05 15:44] isaacrlevin commented on #13
I am sorry, I was hoping to get ILogger<Service> like ASP.NET Core is
looking for

[2018-10-08 10:18] chamikasandamal opened #14 "'IFunctionInvocationFilter' is obsolete"
Seems to be obsolete

[2018-10-08 10:34] BorisWilhelms commented on #14
There is AFAIK currently no other mechanism. The message clearly says it is in preview and MAY be breaking changes in future. So it seems to be ok to use for the moment.

[2018-10-08 13:57] rkbalu opened #15 "Is there anyway we could implement interface based typed factory?"
Is there any way we could achieve the below factory pattern in function app?
https://github.com/castleproject/Windsor/blob/master/docs/typed-factory-facility-interface-based.md?

I really appreciate any guidance on this regards.

[2018-10-08 20:24] BorisWilhelms commented on #15
While I think it will be quite hard to implement this with the Microsoft Dependency Injection, you could also have this with my Nuget package. This extension uses what ever IoC container is returned from the ServiceProviderBuilder. There is a package (https://github.com/volosoft/castle-windsor-ms-adapter) that wraps a Castle WIndsor container into an `IServiceProvider`. You can use that with my Au

[2018-10-09 08:34] rkbalu commented on #15
Thanks @BorisWilhelms . I'll have a look at it.

[2018-10-09 11:55] #15 closed, assigned to nobody

[2018-10-09 11:55] #14 closed, assigned to nobody

[2018-10-09 20:31] calebsmithdev commented on #11
Thanks to @scarbon I was able to get one function up and running well! But if I deploy another Azure Function within the same Function App, I get an error like the original. It's really weird. If I were to republish the error-proned Azure Function, the error is no longer present, but now the other one is having issues.

Anyone have recommendations on how to fix this, or a workaround for it?

Updat

[2018-10-11 04:59] vincentvanderwalt opened #16 "Failure to deploy to Azure even with correct extensions.json"
Good morning,

Thanks for a great library !!!

I'm trying to deploy my function to azure, it's working fine locally.

I've included the targets file and can see the updated extensions file in the bin folder on build.

However, when I deploy to Azure I get the _Error indexing method 'XXXXXX.Run' Cannot bind parameter 'worker' to type IXXXXXX.. Make sure the parameter Type is supported by the bindin

[2018-10-18 12:26] Joehannus commented on #16
I'm getting this issue too. Please advice how to fix this. Locally in Visual Studio everything is working fine, but when deploying the functions to azure I'm getting the same errors - cannot bind parameter to type.

[2018-10-18 12:39] vincentvanderwalt commented on #16
My functions work fine now.
I'd made sure the Directory.Build.Targets file is actually being processed. When you publish you'll see a message to the effect of 'overwritten extenstions.json with one from build'

I also deploy using zip and ensure you delete existing files.

after that my functions worked fine. all bindings are pulled from keyvault

you can check the produced zip -> bin -> extension

[2018-10-23 09:25] #16 closed, assigned to nobody

[2018-10-29 14:14] martinnormark opened #17 "Not working with netcoreapp2.1?"
My function app is targeting `netcoreapp2.1` - is it supposed to work with that?

I'm getting the error:

[code]

My project file looks like this:
[code]

Startup class:
[code]

My function `Run` method:
[code]

I have copied `Directory.Build.targets` into the folder of my project file.

Any ideas?

[2018-10-29 14:20] f2calv commented on #17
No azure functions are supposed to target as follows **netstandard2.0** AFAIK
However even with that change I was struggling earlier today, basically DI works locally but upon upload to Azure I am continually getting a similar message to you;

[2018-10-30 13:25] holgerleichsenring opened #18 "Singletons vs transient vs scoped"
Is it possible to retrieve non scoped dependencies via the inject attribute? It looks like, the dependencies directly injected into the function are always scoped and will be destroyed after function execution had been left.

[2018-10-30 15:32] tjrobinson commented on #17
Yep, changing my Azure Function project from targetting `netcoreapp2.1` to `netstandard2.0` resolved the "Make sure the parameter Type is supported by the binding." error in the original post.

[2018-11-01 19:17] hansmbakker opened #19 "using IConfigurationRoot for the purpose of binding appsettings sections to classes"
In ASP.Net Core you can [bind a `class` to a subsection ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-2.1#suboptions-configuration) in the `ConfigureServices` method because usually the `Configuration` is available there.

Is there a possibility to do that using your library?

(Injecting the plain IConfigurationRoot like in #3 is not what I'm loo

[2018-11-02 06:18] f2calv commented on #19
IConfigurationRoot with [strongly typed binding] is easy enough to add in, the snippet below should help, when IOptions are successfully configured I'm then passing a connection string as a parameter into the DbContext.

Note: I have my json files in a number of sub-folders so I had fun trying to find the best way for a correct path to them, non-working attempts commented out obviously. In the end

[2018-11-05 15:10] rasmuschristensen commented on #17
@f2calv When deploying to azure check out this issue https://github.com/BorisWilhelms/azure-function-dependency-injection/issues/11

I had the same issue and added the target into my project. Afterwards is also worked on azure.

[2018-11-05 15:12] rasmuschristensen commented on #17
@martinnormark I'm having the same issue. Just downgraded to 2.0 and now it works as expected

[2018-11-06 07:58] martinnormark commented on #17
I got it working by targeting `netstandard2.0`.

Problem is that it doesn't register `Startup` class as extension when targeting `netcoreapp2.1`: https://stackoverflow.com/q/53062309/2972

[2018-11-08 04:13] VenkateshSrini opened #20 "Startup class not getting invoked in Durable function"
Hi,
I have used your extension for DI. But I'm using it in Durable function. Will the startup classnot be invoked in durable function?

[2018-11-29 01:09] ElanHasson commented on #17
It's odd because the template for an empty function project uses netcoreapp.

[2018-11-29 14:21] rasmuschristensen commented on #20
maybe you ran into the issue running .netcore 2.1 and not 2.0. See the previous issue

[2018-11-30 01:49] VenkateshSrini commented on #20
Yeah I guess that was an issue with Azure function runtime team. They broke something while doing the re-targeting the runtime to .NEt core 2.0

[2018-12-11 20:46] StefH opened #21 "Release new NuGet with updated dependencies ?"
Can you please update NuGet?

- Microsoft.Extensions.DependencyInjection.Abstractions 2.20
- Microsoft.Azure.WebJobs 3.0.3

[2018-12-12 06:19] shunsuke-kawai commented on #17
I was able to run Debug in 2.1.
Try build with target change to 2.0 -> find `extensions.json` in Bin -> copy to pjt dir -> change propertie to `Copy always` -> copy `Directory.Build.targets` -> target changed to 2.1
I do not know the correct.

[2018-12-12 06:57] StefH opened #22 "Add support for public property injection"
Would it also be possible to add support for public property injection via annotation?

Like
[code]

[2018-12-12 07:44] SeriousM commented on #22
Since the method is static there is no instance. The safest way is to use
method injection to avoid static reference problems. If you have too many
items to inject you could create a context object that gets all the
injections and use this in your method.

[2018-12-12 07:54] StefH commented on #22
You are correct. I forgot that the class was static ;-)

Closing...

[2018-12-12 07:54] #22 closed, assigned to nobody

[2018-12-12 08:33] crazyLearning opened #23 "Not Working with .NET Core 2.1 in Functions V2"
Getting error with .NET core 2.1 in Functions V2

![capture](https://user-images.githubusercontent.com/16131856/49856808-d620a780-fe16-11e8-9322-cf43d0cfcead.PNG)

The startup class is not getting initialized when i start the function.

[2018-12-12 12:47] bjr001 commented on #23
Possible duplicate of #17

[2018-12-12 19:08] StefH commented on #17
Works fine for me.

I'm able to debug locally.

And these versions are used:
[code]

[2018-12-13 07:27] StefH opened #24 "Typo in the Directory.Build.targets file"
`Overwritting ` should be `Overwriting` in

[code]

[2018-12-13 21:41] aliqaryan opened #25 "The script doesn't work anymore"

[2018-12-13 22:47] SeriousM commented on #25
Please add a comment or close the issue. The title alone doesn't add any value information.

[2018-12-17 15:02] AlexPiksel opened #26 "Not working with Microsoft.Extensions.DependencyInjection v2.2.0"
This may be a duplicate of #21, although that doesn't capture the impact.

We've just updated our project to .NET Core 2.2 / EF Core 2.2, which means the datalayer class library our Functions project references now has a dependency on Microsoft.Extensions.DependencyInjection >= 2.2.0

This causes the following error on startup:

[code]

This prevents the function from starting.

If I downgrade the

[2018-12-17 23:25] #25 closed, assigned to nobody

[2018-12-20 16:51] DarranShepherd commented on #26
Having had a bit of a dig through, I don't think this can be done until [Microsoft.Azure.WebJobs.Host](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/WebJobs.Host.csproj) is also upgraded to 2.2

We ran into the issue, but not after an upgrade - we were creating an entirely new project and had, as such, added a dependency on `Microsoft.Extensions.Options` vers

[2018-12-20 17:04] StefH commented on #26
@BorisWilhelms

Maybe an out-of-the-box question : why not create a source-code only NuGet package ? In that way you don't need to upgrade the NuGet everytime Microsoft releases a new version from a library,

[2018-12-20 21:58] kiwipiet opened #27 "Error indexing method 'GreeterFunction.Run'"
I cloned the project and tried run the sample function and I am getting the following:
![image](https://user-images.githubusercontent.com/122649/50313059-17980d80-050f-11e9-8828-58517a1c21c5.png)

Any ideas?
I have .Net Core 2.1 and 2.2 installed, with VS 2017 15.9.4

[2018-12-23 17:52] adrianm64 commented on #26
@StefH,

Yes, that is probably the right approach since AF is so picky with common dependencies. I use that for our internal utilities in v1. Unfortunately it doesn't work in v2 because the runtime only picks up extensions in external dependencies and fix is not a priority Azure/Azure-Functions#972

[2018-12-23 20:47] SeriousM commented on #26
It sounds like it's a priority!

https://github.com/Azure/Azure-Functions/issues/972#issuecomment-444973009

[2018-12-27 22:48] kobolsky commented on #27
Possible duplicate of #17.  Appears to work correctly if you target .Net Core 2.0 by updating your TargetFramework in your .csproj file to `<TargetFramework>netcoreapp2.0</TargetFramework>`

[2018-12-28 13:27] StefH commented on #26
@adrianm64
Another option would be to more active manage this project + nuget. And keep the same version scheme as from Microsoft.

So make multiple versions from `Willezone.Azure.WebJobs.Extensions.DependencyInjection` which align with `Microsoft.Azure.WebJobs`:
- 2.1.0
- 2.2.0
- 3.0.0
- 3.0.1
- 3.0.3

[2018-12-28 13:52] tank104 commented on #17
This same issue for me @StefH  I wonder why it works for you. Out of the box?

[2018-12-28 14:24] StefH commented on #17
@NimbleHive Can you try my example project here?
https://github.com/StefH/UnitTestingAzureFunctions

[2018-12-29 12:32] tank104 commented on #17
@StefH That works - but you are using netstandard2.0 not netcore 2.1

<TargetFramework>netstandard2.0</TargetFramework>

[2018-12-29 14:06] StefH commented on #17
Ah yes. I noticed that the default function project from vs2017 uses netcore 2.1

However I did manually change to netstandard 2.0 because I dont need any netcore (yet).

[2019-01-03 23:11] kiwipiet commented on #27
@kobolsky [#17](https://github.com/BorisWilhelms/azure-function-dependency-injection/issues/17) says to target netstandard2.0, which is what this project is doing.
My question is that I am cloning [this project](https://github.com/BorisWilhelms/azure-function-dependency-injection) and it is not working as per my description above.

[2019-01-04 00:51] kiwipiet commented on #27
I tried this at home and it all worked, so it looks like this was an environmental problem.  I'll recheck when I'm back on work on Monday.

[2019-01-04 00:51] #27 closed, assigned to nobody

[2019-01-08 08:52] PureKrome commented on #18
Example @holgerleichsenring ?

[2019-01-17 12:05] peef opened #28 "Not working with Entity Framework 2.2"
Adding DB context when `Microsoft.EntityFrameworkCore.SqlServer` v2.2.1 is used raise this error during app start:

_A host error has occurred
Willezone.Azure.WebJobs.Extensions.DependencyInjection: Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.WebJobs.IWebJobsBuilder.get_Services()'._

When downgrade to EF v2.1.4 then register DB context is OK.

[2019-01-18 19:52] crookedbard opened #29 "IFunctionFilter deprecated"
DependencyInjectionWebJobsBuilderExtensions.cs
Line 62.
IFunctionFilter is obsolete

[2019-01-18 21:58] crookedbard opened #30 "Microsoft.Azure.WebJobs.Host: Error indexing method"
Microsoft.Azure.WebJobs.Host: Error indexing method 'ApiQueue.Run'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'dbService' to type IDbService. Make sure the parameter Type is supported by the binding. If you're using binding extensions (e.g. ServiceBus, Timers, etc.) make sure you've called the registration method for the extension(s) in your startup code (e.g. config.UseServiceBus(), con

[2019-01-18 21:59] crookedbard commented on #30
Startup.cs does not get triggered.
.Net Core 2.1 ServiceBusTrigger Azure Functions

[2019-01-22 10:16] peef commented on #30
Duplication of #23.

[2019-01-22 23:08] richardhauer opened #31 "Not working with TimerTrigger functions"
Somehow the `Inject` attribute isn't binding for a function that is triggered by a `TimerTrigger` - I get an error saying the runtime cannot bind the parameter.

I will fork the code and try to find the issue.

[2019-01-27 22:50] tmoon8730 commented on #31
Checkout #17 I think it may be a similar issue with it not registering the extension correctly.

[2019-01-29 08:21] richardhauer commented on #31
Unfortunately, that's probably not the case.  The `Inject` attribute works perfectly on functions that have Message Queue and HTTP triggers (that I've tried), but raises a binding error against functions with Timer bindings.  It's not clear what's different about the process of binding these parameters when compared with HTTP triggered functions, but I wouldn't rule out a timing issue.

At this st

[2019-02-04 20:53] holgerleichsenring commented on #18
Hi PureKrome,

actually to be honest I just had a look onto the code. Maybe code changed meanwhile, I just had another look [here](https://github.com/BorisWilhelms/azure-function-dependency-injection/blob/master/src/DependencyInjection/Services/ServiceProviderHolder.cs). Scope is generated per function and services are resolved from service provider. Should work out, I guess. Still unsure about se

[2019-02-07 18:30] tomfaltesek opened #32 "Inject HttpRequest"
I have services that depend on `IHttpContextAccessor` so that certain HTTP Headers and claim data can be accessed. Is there any way to configure DI for some form of the current HttpRequest?

[2019-02-07 22:01] ranouf commented on #30
Hi, Did you find a solution? I have the same problem with netcoreapp2.2

[2019-02-07 22:07] ranouf commented on #17
Hi
Did you find a solution for .net core 2.2?
I have the same issue, startup is not called

[2019-02-07 22:19] ranouf commented on #32
What I use is:
[code]

But currently, Startup seems to be not invoked with .net core 2.2 ...

[2019-02-08 14:36] tomfaltesek commented on #32
Yeah, that works great for a regular dotnet core web project. It does not work for Azure Functions. The `HttpContext` property is always null. Perhaps I'm doing something incorrectly.

[2019-02-14 11:57] Zordid commented on #17
Guys... this is so ridiculous. Why does anybody waste their precious time with MS... :-( I went down this route BECAUSE I need DI to use IHttpClientFactory. Only to find out now that with netcoreapp, the DI described here DOES NOT WORK?? Because in netstandard, the IHttpClientFactory does not work. This is a nightmare. The whole Microsoft universe is a nightmare for anybody into clean, precise cod

[2019-02-14 20:28] chtay1 commented on #17
Zordid, we are using IHttpClientFactory with netstandard2.0 and Azure function DI via this package. What issue are you having?

[2019-02-19 11:04] ChrisAllisonMalta opened #33 "IConfigurationBuilder not working on mac"
Hi

Thanks for sharing this library, its great!

I'm getting the following error when I try to run a Function App (v2) that works perfectly on my work PC, but not on my Mac.

I'm running:
Azure Functions Core Tools (2.0.3)
Function Runtime Version: 2.0.12115.0

In the startup output I get see the following line:

Any thoughts on what I'm doing wrong?

Do I need to do anything specific to get it to

[2019-03-01 07:43] deadwards90 commented on #17
For anyone still struggling with this, try updating to the latest Microsoft.NET.SDK.Functions (as of writing 1.0.25).

Seems they've fixed the issue, or at least this is now working for me.

[2019-03-01 16:13] BorisWilhelms commented on #17
Hello, sorry for the late answer. Yes you need to change the `TargetFramework` of your function project to `netstandard2`. The reason is, that the metadatagenerator, that generates a json, that references the startup class only works for library projects. The Azure Functions SDK/Runtime has currently no support for Startup classes in the Function project.

[2019-03-01 16:13] #17 closed, assigned to nobody

[2019-03-01 16:14] BorisWilhelms commented on #19
I guess the solution looks good. I close this issue. Feel free to reopen if you have any issues.

[2019-03-01 16:14] #19 closed, assigned to nobody

[2019-03-01 16:15] BorisWilhelms commented on #20
@VenkateshSrini is this issue still relevant? I have never tried the DI solution in Durable functions.

[2019-03-01 16:16] BorisWilhelms commented on #23
@crazyLearning is your Functions project targeting netstandard2 (instead of the netcoreapp default)?

[2019-03-01 16:25] BorisWilhelms commented on #24
Thank you. I have fixed the typo.

[2019-03-01 16:25] #24 closed, assigned to nobody

[2019-03-01 16:30] BorisWilhelms commented on #29
Yes, they are marked as obsolete but this is currently the only way to implement scoping. In addition the obsolete message says it MAY break in future.

If you know a better/stable solution to implement scopes, feel free to submit a PR.

[2019-03-01 16:30] #29 closed, assigned to nobody

[2019-03-01 16:32] BorisWilhelms commented on #30
@crookedbard could you please siwtch your functions project to target netstandard2 instead of netcoreapp (which is the default). See https://github.com/BorisWilhelms/azure-function-dependency-injection/issues/17#issuecomment-468718411 for more information.

[2019-03-01 16:38] BorisWilhelms commented on #31
@richardhauer is this issue still relevant? Do you have a repo? I have tested it localy with a 5 second timer and it works for me.

[code]

[2019-03-01 17:01] BorisWilhelms commented on #28
Duplicate of #26

[2019-03-01 17:01] #28 closed, assigned to nobody

[2019-03-01 20:54] richardhauer commented on #31
Will update and re-check.

I had a function with an Inject that was always null. An HTTP triggered function right beside it worked fine.

Could it be that the issue only happens when there’s both in the same project? Doesn’t seem like it would be related but you never know.

I will also report back the platform library versions.

Richard Hauer
CTO

PING Works
1-7 Albion Place, Sydney NSW 2000
p: +

[2019-03-02 02:30] VenkateshSrini commented on #20
Yes this is very much relevant. We might need to persist additional information as part of workflow creation which might be needed in successive steps. I have tried it using WilliZone DI extension, but definitely would need this to be part of Azure function runtime itself. Whether it is normal function or Durable function these injected components are part of functionality

[2019-03-02 07:36] deadwards90 commented on #17
@thinktecture it does work! They've recently released a update to the functions SDK to fix it. I had it working with a 2.1 Durable Function app in Azure yesterday.

You still need the directory targets bit in the project though.

[2019-03-02 11:10] BorisWilhelms commented on #31
In my test I had a HttpTrigger function in the same class, so this should not be the issue.

[2019-03-03 08:29] zarusz commented on #31
I also confirm that dependency injection in the a time trigger function V2 works. Here is more info: https://github.com/Azure/azure-functions-host/issues/3386#issuecomment-468182846

[2019-03-04 08:51] deadwards90 commented on #30
https://github.com/BorisWilhelms/azure-function-dependency-injection/issues/17#issuecomment-468573930

Updating the SDK to the latest version should make it work without switching `targetframework`.

[2019-03-05 19:04] tank104 commented on #17
I confirm this looks like its working for me now too.

[2019-03-11 23:09] albertocorrales commented on #23
@BorisWilhelms if I target netstandard2 instead of netcoreapp2.2, it starts working locally without the error @crazyLearning mentioned. However, with target netstandard2 it fails when I deploy to Azure or when I run a Docker container with my azure functions.

[2019-03-21 16:53] nhat-tong commented on #17
I confirm that this works for me with target .net core 2.1 and current version of Microsoft.NET.SDK.Functions (1.0.26). Thanks @dantheman999301 .

[2019-03-24 15:19] ghstahl commented on #17
I have been looking around for anyone that has got azure functions working with .net core 2.2, no luck so far.  You might want to check an alternative way to get DI in an Azure Function.  https://github.com/ghstahl/Asp.Net-Core-2.1-app-as-a-tenant

[2019-03-26 13:35] SpicySyntax opened #34 "Binding Issue with Extension prevents Function indexing"
I am using the version 1.0.1 of this Nuget package in my .NET Core V2 Azure Function App to help with dependency injection and am running into an issue.

My Function app is to allow an HTTP upload of an image, and write it to blob storage and some associated meta-data to CosmosDb using the MongoDb Driver. I setup the WebJobStartup.cs class and used the '[Inject]' attribute on the interfaces I was

[2019-03-28 16:04] ChrisAllisonMalta commented on #33
Actually I think this may be more to do with the webjobs extension not working in specific versions of azure function tools, will close when I confirm

[2019-04-03 13:52] ChrisAllisonMalta commented on #33
Confirmed, leaving this link here in case anyone else has the same problem

[Stack Overflow](https://stackoverflow.com/questions/55406677/unable-to-update-azure-functions-core-tools-in-visual-studio-mac/55431350#55431350)

[2019-04-03 13:52] #33 closed, assigned to nobody

[2019-04-04 12:22] prabuw opened #35 "Logging from the Startup class"
Hi all,

Thanks @BorisWilhelms for work - it's awesome. It makes working with Azure functions much more bearable. 😂

My scenario:

I'm registering a database client (`IMongoDatabase`). As part of that registration, I'm mapping entities to (known) collections. If a collection does not exist, the code throws an exception.

How can I log this exception? It's essentially inside the `private void Confi

[2019-04-05 16:11] SpicySyntax commented on #34
I am closing this because I found a solution to fix the binding issue
in my .csproj I changed
`
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <AzureFunctionsVersion>V2</AzureFunctionsVersion>
`
To:
`
    <TargetFramework>netstandard2.0</TargetFramework>
    <AzureFunctionsVersion>v2</AzureFunctionsVersion>
`

[2019-04-05 16:11] #34 closed, assigned to nobody

[2019-04-05 19:46] SpicySyntax opened #36 "Binding fails with target frameworks netcoreapp 2.1 and 2.2"
This package works fine when I target netcoreapp2.0. But when I target anything above that I get
`
Microsoft.Azure.WebJobs.Host: Error indexing method 'UploadImage'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'cosmosDbClient' to type ICosmosDbClient. Make sure the parameter Type is supported by the binding. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Timers, etc.)

[2019-04-15 13:09] Extentsoftware commented on #36
I have exactly the same issue

[2019-04-20 13:47] miqm commented on #36
check if the package you deploy have non-empty `extensions.json` file. If not, update functions sdk to 1.0.26.

[2019-04-25 17:56] SpicySyntax commented on #36
I tried this but still no extensions.json, and it still failed like before. See this gist for some example [code](https://gist.github.com/SpicySyntax/df6fd2b1b6f56a4e0058c2f35790dd31)

Do I need to create my own extensions.json that references the DI extension?

[2019-04-25 18:05] miqm commented on #36
no, the `extensions.json` should be created automatically by sdk. please share also the csproj file.
You can also check my project for reference: https://github.com/miqm/playground

[2019-04-25 19:46] SpicySyntax commented on #36
@miqm Thanks for the example I will look at it, I updated the gist with my csproj

[2019-04-25 19:47] Extentsoftware commented on #36
Looks like you're using 1.0.24 - you should be on sdk 1.0.26 - have you tried upgrading? I know it doesn't work under 1.0.26

[2019-04-25 20:08] SpicySyntax commented on #36
I duplicated your setup in the example, and the startup code runs fine but the binding to the [Inject] attribute still failes with 'Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type 'ObjectDetection.Services.ICosmosDbClient' while attempting to activate 'ObjectDetection.UploadImage'.' Hmmm, any idea here?

[2019-04-26 21:18] miqm commented on #36
It's because you're trying to resolve `ICosmosDbClient` not from your namespace but from objectDetection.Services. Use `CrackDetection.ICosmosDbClient` in Inject and you should be ok.

[2019-04-26 21:20] miqm commented on #36
Share your code if possible.

[2019-04-30 14:30] SpicySyntax commented on #36
@miqm Here is an upated [Gist](https://gist.github.com/SpicySyntax/df6fd2b1b6f56a4e0058c2f35790dd31) with the relevant source code.
Thanks

[2019-05-08 00:15] justinkneff opened #37 "Dependency Injection built in to Azure Functions"
Microsoft released Dependency Injection functionality recently which is built on top of the ASP.NET Core Dependency Injection Features. What advantages and disadvantages does providing this solution using Attributes provide their functionality does not?

Is one or the other better performing? Is this faster cold boot? Is there functionality missing/provided by the other? What does compatibility lo

[2019-05-08 01:45] juliusl commented on #37
One thing I've noticed is that this package has an `[Inject]` attribute which let's you inject the dependency directly into the parameter of the function.

The official DI implementation you have to inject it into a constructor which means that you can't have a static class/function.

Unless I'm missing something, but from that link there wasn't any usage examples so I'm going by: https://github.c

[2019-05-08 07:06] miqm commented on #36
Not sure if this is will work, but try separate code with extensions into a library that function app will depend upon.

[2019-05-08 08:23] rasmuschristensen commented on #37
I just blogged about how to do setup and consume with the new bits and pieces
https://blog.rasmustc.com/azure-functions-dependency-injection/

[2019-05-20 17:04] Athosone commented on #17
I also got this issue using .net core 2.1 and Microsoft.NET.SDK.Functions 1.0.26/1.0.28.
Despite the fact that my startup class get called, My service wont get injected and the function throw this binding error.....

[2019-06-14 13:51] #31 closed, assigned to nobody

[2019-06-19 08:46] jitendriyag2 commented on #17
It works for me as i forgot to Mention the Trigger Type, Please Find the example

`public static IActionResult EmailSend([HttpTrigger(AuthorizationLevel.Anonymous, "post")]HttpRequestMessage req,
            [SendGrid(ApiKey = "CustomSendGridKeyAppSettingName")]out SendGridMessage email,
            ILogger log){
///Own Logic
}`

[2019-06-19 09:51] deadwards90 commented on #17
@jitendriyag2 I'd move to using the built in DI that is now in Azure Functions unless you have a very good reason not to.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

[2019-06-29 16:36] woodpk commented on #22
Now that the classes and methods are no longer required to be static, is there any plan or possibility of providing class constructor injection with private or public properties:

        #region PROPERTIES & FIELDS
        private readonly IQueryDispatcher _dispatcher;
        #endregion

        #region CONSTRUCTORS
        public PersonController(

[2019-07-12 11:44] SashaPshenychniy opened #38 "Support IFunctionsHostBuilder initialization"
Microsoft updated a way to register startup actions for Azure Functions v2. Now instead of IWebJobsBuilder we should use IFunctionsHostBuilder, so extension methods from this library cannot be used anymore with latest version of Azure Functions.

Code would not change at all, just new type to apply extension method to should be added.

[2019-07-12 11:57] StefH commented on #38
The main question is:  do we still need this project because DI is now supported natively.

[2019-07-12 11:59] SashaPshenychniy commented on #38
@StefH As far as I see only constructor injection is supported natively. This project extends it with parameter-injection which is very handy in many cases.

[2019-07-14 09:06] StefH commented on #38
That's correct. However the question is why parameter-injection is useful?

If the methods (functions) all need different dependencies, then maybe just create new class for each function.

[2019-07-14 20:44] SashaPshenychniy commented on #38
That's more of a philosophical question. Definitely it is possible to live with just constructor injection. But on the other hand, dependency injection containers in theory should not make limitations on how to write the code as long as DI principles are followed. Books on DI clearly define method injection as one of the ways to inject dependencies, so it looks as shortcoming from Microsoft not to

[2019-08-21 17:20] kensykora commented on #26
For those running into this issue, I found I was able to get past it by updating my Azure Functions Runtime that ships with VS for Mac to latest as of this posting

[code]

This SO post pointed me in the right direction: https://stackoverflow.com/questions/55377996/net-core-2-2-azure-function-v2-dependency-injection

[2019-09-04 09:38] joaoantunes commented on #38
Yes, it makes sense because the .Net DI features are very basic.
This is copied from Microsoft documentation:

"The built-in service container is meant to serve the needs of the framework and most consumer apps. We recommend using the built-in container unless you need a specific feature that it doesn't support. Some of the features supported in 3rd party containers not found in the built-in conta

[2019-09-04 09:48] joaoantunes opened #39 "Unable to do constructor/property injection on a non static azure function"
Azure Functions V2 has its own mechanism of DI that allows constructor/property injection. If i use this extension I'm able to use the Autofac DI features, and I'm able to do method injection, but it appears that property/constructor injection stops working.

Is possible to have the better of "the two worlds"?

[2019-09-12 15:30] joaoantunes opened #40 "Logging scopes seems to be not populated on Autofac container"
I'm new on Azure Functions, and I've tried to use Autofac as the container of DI on the application.

There are some services there are registered automatically by the function on the *.Net DI* like for example the logging providers.

When I tried to use ILogger abstraction of Microsoft, I had an issue that was logging nothing on my custom classes, that were resolved by the Autofac, but all functi

[2019-09-13 22:22] DonFrazier-zz commented on #32
Did you include an [assembly: FunctionsStartup(typeof(MyStartupClass))] attribute somewhere in your function?

[2020-01-23 09:09] epitka commented on #30
Startup gets triggered only when targeting "netcoreapp3.0". Using latest Microsoft.NET.Sdk.Functions 3.02 and Microsoft.Azure.Function.Extensions 1.0.0.
However it is still unable to inject dependency and gives "cannot index method" error.

Followed this article

https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

[2020-05-26 06:00] nickwinger commented on #32
i also would like to be able to inject the httpRequest into a service, e.g. token validation etc.

[2020-12-17 23:33] firstdowns commented on #32
This is pretty old, but I needed to do this as well.  With the newer injection system, in your Startup class, you can use:

`public override void Configure(IFunctionsHostBuilder builder)
{
     builder.Services.AddHttpContextAccessor();
}`

Then simply inject IHttpContextAccessor where you need it.    Seems to work just fine.

[2020-12-18 01:50] nickwinger commented on #32
Hi,

i cannot see your post…
Which version of which library is now supporting this ?

//nick

[2021-09-29 04:45] Vanshata17 opened #41 "durable functions - fanInFanOut"
What is wrong with this code?
using System.IO;
using System.Linq;
using System.Net.Http;
using System.Threading.Tasks;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Extensions.DurableTask;
using Microsoft.Azure.WebJobs.Extensions.Http;
using Microsoft.Extensions.Logging;
using Microsoft.WindowsAzure.Storage.Blob;

namespace VSSample
{
    public static class BackupSiteContent
    {